FLASK_APP=app.py
FLASK_ENV=development

QUANTCONNECT_USER_ID=your_user_id_here
QUANTCONNECT_API_KEY=your_api_key_here

IB_HOST=127.0.0.1
IB_PORT=7497  # or 7496 for IB Gateway
IB_CLIENT_ID=1

TRADING_PLATFORM=alpaca
ENDPOINT=https://paper-api.alpaca.markets/v2
ALPACA_API_KEY=PKX60BKHOV4350BZ4D5I
ALPACA_SECRET_KEY=2OxoqJ5E52BMRREC4VhIVRrh59UK7s3utslMWWBv